<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Options</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../css/common.css"/>
</head>
<body>
<h2>Add Form</h2>
<p>Description</p>
<div class="container">
    <form class="add_form" onsubmit="return false;">
        <div class="row">
            <button id="clearBtn" class="btn btn-green btn-medium mr-1 float-right">Clear</button>
            <button id="exportJson" class="btn btn-green btn-medium mr-1 float-right">Export</button>
            <button id="importJson" class="btn btn-green btn-medium mr-1 float-right">Import</button>
        </div>
        <br>
        <table>
            <colgroup>
                <col width="15%"/>
                <col width="15%"/>
                <col width="*"/>
                <col width="15%"/>
            </colgroup>
            <thead>
            <tr>
                <th>Name</th>
                <th>Shortcut</th>
                <th>URL</th>
                <th>Functions</th>
            </tr>
            </thead>
            <tbody id="tableResult">
            </tbody>
        </table>
        <br>
        <div class="row">
            <button id="saveBtn" class="btn btn-green btn-full float-right">SAVE</button>
            <button id="newLineBtn" class="btn btn-green btn-full float-right mr-1">New Line</button>
        </div>
    </form>
</div>
<div id="snackbar"></div>
<script src="/src/js/options.js"></script>
</body>
</html>