* {
    box-sizing: border-box;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


.add_form input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add_form label {
    font-size: 14px;
    font-weight: bolder;
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.float-right {
    float: right;
}

.btn {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-mini {
    padding: 6px 10px;
}

.btn-green {
    background-color: #4CAF50;
    color: white;
}

.btn-green:hover {
    background-color: #45a049;
}

.btn-orange {
    background-color: #ff8800;
    border-color: #ff8800;
    color: white;
}

.btn-orange:hover {
    background: #c73e04;
    color: white;
    border-color: #c73e04;
}

.container table {
    width: 100%;
    font-size: 14px;
}

.container table tbody .text-center {
    text-align: center;
}

.mb-1 {
    margin-bottom: 5px;
}

.mb-2 {
    margin-bottom: 10px;
}

.mr-1 {
    margin-right: 5px;
}

.col-25 {
    float: left;
    width: 25%;
    /*margin-top: 6px;*/
}

.col-75 {
    float: left;
    width: 75%;
    /*margin-top: 6px;*/
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, .btn-full {
        width: 100%;
        margin-top: 0;
    }
}

/* snackbar */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}